<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>upload </title>
    <link rel="stylesheet" type="text/css" href="upload.css">
</head>

<body onload="checkCookieUpload()">
    <div class="container-fluid">
        <div style="width: 100%;">
            <span style="color: red;">Alow max size file upload < 10MB because our sever to cheap</span><br>
            <input type="file" id="file-input" /><br>
            <button onclick="capture()" id="butoncapture">set avata video</button> Category
            <select id="myCategory">
                <option value="music">music</option>
                <option value="young music">young music</option>
                <option value="gold music">gold music</option>
                <option value="game music">game music</option>
                <option value="learn english">learn english</option>
                <option value="english music">english music</option>
                <option value="animation">animation</option>
                <option value="movie">movie</option>
                <option value="comedy">comedy</option>
                <option value="news">news</option>
                <option value="war content">war content</option>
                <option value="others">others</option>
            </select>
            <button id="confirm">upload to server</button>
            <br> Name of video view on website <input type="text" id="idnamevideo">
        </div>
        <br>

        <canvas id="canvas" width="426px" height="240px"></canvas>
        <br>
        <video id="video-element" width="100%" height="auto" controls>
            <source type="video/mp4">
        </video>
        <br>
    </div>
</body>
<script src="upload.js"></script>
<script src="cookie.js"></script>

</html>